* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Nunito, sans-serif;
}

.inputs {
    height: 80px;
    background: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 8px 8px 0;
    border-color: #F2F2F2;
    border-style: solid;
}

.inputs > * + * {
    margin-left: 20px;
}

input,
button {
    transition: all .3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=text],
input[type=number] {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #F2F2F2;
    color: #F2F2F2;
    background: transparent;
}

input[type=text]:focus,
input[type=text]:hover,
input[type=number]:focus,
input[type=number]:hover {
    outline: 0;
    border: 2px solid #F2A2A2;
}

input[type=text]::placeholder {
    font-size: 16px;
    color: #888888;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid #F2F2F2;
    color: #1A1A1A;
    background: #F2F2F2;
}

button:hover,
button:focus {
    border: 2px solid #F2A2A2;
    background: #F2A2A2;
    color: #1A1A1A;
}

button:focus {
    outline: 0;
}

.counters:not(:empty) {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    border: 4px solid #F2F2F2;
}
