.counter {
    position: relative;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-size: 32px;
    border: 4px solid #F2F2F2;
    transition: opacity .3s;
}

.counter.paused {
    opacity: .5;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 20px;
    right: 20px;
}

.buttons > * + * {
    margin-right: 20px;
}

.remove,
.pause {
    position: relative;
    width: 40px;
    height: 40px;
}

.remove:hover {
    background: rgba(0, 0, 0, .3);
}

.remove::before,
.remove::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #F2F2F2;
    top: calc(50% - 1px);
    left: 10px;
}

.remove::before {
    transform: rotate(-45deg);
}

.remove::after {
    transform: rotate(45deg);
}

.pause:hover {
    background: rgba(0, 0, 0, .3);
}

.pause::before,
.pause::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 20px;
    background: #F2F2F2;
    top: 10px;
    left: calc(50% - 1px);
    transition: transform .5s;
}

.pause::before {
    transform: translateX(-5px);
}

.pause::after {
    transform: translateX(5px);
}

.paused .pause::before {
    transform: translate(0, -5px) rotate(-60deg);
}

.paused .pause::after {
    transform: translate(0, 5px) rotate(60deg);
}

.grey {
    background: #333333;
}

.red {
    background: #633333;
}

.green {
    background: #939333;
}

.blue {
    background: #235393;
}

.warning {
    color: #F2D42C;
}

.ended {
    color: #F22C2C;
}
